@import "simplelightbox/dist/simple-lightbox.min.css";
:root {
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	--animation-duration: 250ms;
}

.selector {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0;
	border: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.search-form {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(38, 60, 187);
	height: 40px;
}
.box-form {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	border-radius: 5px;
	background: #fff;
}
.box-form input {
	margin-left: 5px;
}

.box-form button {
	width: 30px;
	height: 30px;
	padding: 5px;
	background-image: url(../images/search.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 70%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.gallery {
	display: grid;
	max-width: 1240px;
	grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
	grid-gap: 12px;
	justify-content: center;
	margin: 20px auto;
}
.gallery a{
	color: inherit;
}
.gallery__image:hover {
	transform: scale(1.03);
}

.gallery__image {
	width: 100%;
	object-fit: cover;
	transition: transform var(--animation-duration) var(--timing-function);
}

.photo-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #000;
}
.info {
	display: flex;
	justify-content: center;
	align-items: center;
}
.info-item {
	margin: 5px 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.load-more {
	display: block;
	margin: 20px auto;
	background-color: rgb(25, 4, 99);
	color: #fff;
	height: 40px;
	width: 150px;
	border-radius: 5px;
}

